/* COMMON */

body{
    height: 3000px;
}

img{
    display: block;
}


/* HEADER */

header{
    position: fixed;
    width: 100%;
    height: 400px;
    background: #000;
    padding : 0 30px;
    transform: .4s ease;

}

header img#logo {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition:  .7s ease;
}